@model cricZee.Models.PointsTable

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PointsTable</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Teams" class="control-label"></label>
                <input asp-for="Teams" class="form-control" />
                <span asp-validation-for="Teams" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Matches" class="control-label"></label>
                <input asp-for="Matches" class="form-control" />
                <span asp-validation-for="Matches" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Won" class="control-label"></label>
                <input asp-for="Won" class="form-control" />
                <span asp-validation-for="Won" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lost" class="control-label"></label>
                <input asp-for="Lost" class="form-control" />
                <span asp-validation-for="Lost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tied" class="control-label"></label>
                <input asp-for="Tied" class="form-control" />
                <span asp-validation-for="Tied" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Points" class="control-label"></label>
                <input asp-for="Points" class="form-control" />
                <span asp-validation-for="Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nrr" class="control-label"></label>
                <input asp-for="Nrr" class="form-control" />
                <span asp-validation-for="Nrr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nrrposition" class="control-label"></label>
                <input asp-for="Nrrposition" class="form-control" />
                <span asp-validation-for="Nrrposition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
